<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">{{user.username}}</h4>
                    <p class="w3-center"><img src="{{user.avatar}}" class="w3-circle" style="height:106px;width:106px"
                            alt="Avatar">
                    </p>
                    <hr>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
                        {{#if user.city}}
                        {{user.city}},
                        {{/if}}
                        {{#if user.state}}
                        {{user.state}},
                        {{/if}}
                        {{#if user.country}}
                        {{user.country}}
                        {{/if}}
                    </p>
                    {{#if user.birthdate}}
                    <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>{{user.birthdate}}</p>
                    {{/if}}
                </div>
            </div>
            <br>
            <div class="w3-card w3-round">
                <div class="w3-theme">
                    {{#if user.guest}}
                    <a href="/users/login" style="background-color: whitesmoke !important;"
                        class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                            class="fa fa-users fa-fw w3-margin-right"></i> Login</a>
                    {{/if}}
                    {{#if user.loggedIn}}
                    <a href="/users/logout" style="background-color: whitesmoke !important;"
                        class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                            class="fa fa-users fa-fw w3-margin-right"></i> Logout</a>
                    {{/if}}
                </div>
            </div>

            <!-- End Left Column -->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m9">

            <div style="position: relative; z-index: 2" class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h4>Share your memes, news, and images here.</h4>
                            <a href="/new-post" type="button" class="w3-button w3-theme-l3"><i class="fa fa-pencil"></i>
                                Create
                                Post</a>
                        </div>
                    </div>
                </div>
            </div>
            {{#each posts}}
            <div style="position: relative; z-index: 2;" class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">{{createdAt}}</span>
                <h4>{{username}}</h4><br>
                <h2><a href="{{url}}">{{title}}</a></h2>
                <hr class="w3-clear">
                {{#if isImage}}
                <div class="w3-row">
                    <div class="w3-col">
                        <img style="width: inherit;" src="{{url}}" alt="">
                    </div>
                </div>
                {{/if}}
                <p>{{body}}</p>
                {{#if noVote}}
                <button data-id="{{id}}" type="button"
                    class="downvote w3-button w3-theme-l1 w3-margin-bottom comment_button"><i data-id="{{id}}"
                        class="fas fa-arrow-circle-down"></i>  Downvote</button>
                <button data-id="{{id}}" type="button"
                    class="upvote w3-button w3-theme-d1 w3-margin-bottom comment_button"><i data-id="{{id}}"
                        class="fas fa-arrow-circle-up"></i>  Upvote
                </button>
                {{/if}}
                {{#if upvote}}
                <button data-id="{{id}}" type="button"
                    class="downvote w3-button w3-theme-l1 w3-margin-bottom comment_button"><i data-id="{{id}}"
                        class="fas fa-arrow-circle-down"></i>  Downvote</button>
                <button data-id="{{id}}" style="background-color: orange !important;" type="button"
                    class="upvote w3-button w3-theme-d1 w3-margin-bottom comment_button"><i data-id="{{id}}"
                        class="fas fa-arrow-circle-up"></i>  Upvote
                </button>
                {{/if}}
                {{#if downvote}}
                <button data-id="{{id}}" style="background-color: orange !important;" type="button"
                    class="downvote w3-button w3-theme-l1 w3-margin-bottom comment_button"><i data-id="{{id}}"
                        class="fas fa-arrow-circle-down"></i>  Downvote</button>
                <button data-id="{{id}}" type="button"
                    class="upvote w3-button w3-theme-d1 w3-margin-bottom comment_button"><i data-id="{{id}}"
                        class="fas fa-arrow-circle-up"></i>  Upvote
                </button>
                {{/if}}
                <a type="button" href="/post/{{id}}" class="w3-button w3-theme-l3 w3-margin-bottom"><i
                        class="fa fa-comment"></i>
                     {{commentCount }} Comment(s)</a>
                <small class="score vote_tally">{{score}}</small>
            </div>
            {{/each}}

            <!-- End Middle Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>